
<div class="container">
    <input type="text" class="form-control" (input)="onEnterUserName($event)" [(ngModel)]="inputUserName">
    <button [disabled]="inputUserName.length === 0" (click)="addUserName()" >
        Add UserName
    </button>
    <input type="text" class="form-control" [(ngModel)]="warningSign">
    <button (click)="toggleWarning()" 
    [ngClass]="{'green' : toggle, 'red': !toggle}">
        {{warningSign}}
    </button>
    <hr>
    <p>{{toggleUserName ? userName : ""}}</p>

</div>

